body{
    background: rgb(65, 51, 99);
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.432);
}
select#flista {
    width: 150px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;

}